/* Meetup calendario evento */

#next-meetup {
    position:relative;
    width: 570px;
}

#calendar {
    float:left;
    margin: 35px 15px 15px 15px;
    font-weight: bold;
    border: 2px solid black;
}

#month {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 10px 15px;
    color: #fff;
    background-color: #BC0000;
    border-bottom: 2px solid black;
    font-size: 15px;
}

#day {
    font-size: 44px;
}

@media (max-width: 512px) {
    #next-meetup {
        width: 100%;
        text-align: center;
    }
    #meetup, 
    #calendar {
        display: block;
    }
}

